body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
}

header {
    background: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: #343a40;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #007BFF;
}

.profile {
    margin-top: 20px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007BFF;
}

main {
    padding: 20px;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 2.5em;
    margin: 0;
    font-weight: 700;
    color: #343a40;
}

.section-header .underline {
    width: 50px;
    height: 4px;
    background: #007BFF;
    margin: 10px auto;
}

.resume-item {
    margin-bottom: 20px;
}

.resume-item h4 {
    margin: 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #343a40;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#pdf-viewer {
    margin-top: 20px;
    text-align: center
